
.wrap{
    margin: 0 auto;
    max-width: 75%;
    background: url("../img/pattern.jpg") ;
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}

h1{
  margin: 0 25%;
}

.title{
font-size: 45px;
color: rgba(30, 8, 110, 0.384)173, 145, 145;
}

.card{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
   }
   .card-photo{
       display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;

   }
   .card-title{
        font-size: 20px;
        text-align: center;
        color: #23b312;

   }
   .card-text{
       font-size: 15px;
   }
   .card-subtitle{
       font-size: 18px;
       color: #1ad7dd;
   }
   .card-list{
       padding-left: 0;
        list-style-position: inside;
        font-size: 14px;
    }